<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url =>  registration_path(resource_name), html: { class: "form" }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :first_name %>
  <%= f.text_field :first_name %></div>

  <div><%= f.label :last_name %>
  <%= f.text_field :last_name %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

<hr/>
  <h4>Participation in the 5K run at <%= link_to "RubyConfIndia 2013", "http://rubyconfindia.org/2013/" %>:</h4>
  <div class="radio">
    <%= f.radio_button :running_in_pune, true, :checked => true %>
    <%= f.label :running_in_pune, "Yes, I will run the 5K during RubyConfIndia 2013 on June 23!!" %>
  </div>
  <div class="radio">
    <%= f.radio_button :running_in_pune, false %>
    <%= f.label :running_in_pune, "No, I want to use this site to encourage others, or train to run a 5K locally." %>
  </div>
  <br>
<hr/>
  <h4>My level as a runner:</h4>
  <div class="radio"><%= f.radio_button :runner_level, "0", :checked => true %> <%= f.label :runner_level, "I never ran in my life before!" %></div>
  <div class="radio"><%= f.radio_button :runner_level, "1" %> <%= f.label :runner_level, "I run infrequently ( 0-1 times per week )" %></div>
  <div class="radio"><%= f.radio_button :runner_level, "2" %> <%= f.label :runner_level, "I run very regularly ( 2 or more times per week )" %></div>
  <div class="radio"><%= f.radio_button :runner_level, "3" %> <%= f.label :runner_level, "I am a professional runner!" %></div>
  <br>
<hr>
  <h4>My personal goal at the Ruby 5K:</h4>
  <div class="radio"><%= f.radio_button :runner_goal, "0", :checked => true %> <%= f.label :runner_goal, "I will run my first 5K race!" %></div>
  <div class="radio"><%= f.radio_button :runner_goal, "1" %> <%= f.label :runner_goal, "I will set a new PR(Personal Record) for a 5K race!" %></div>
  <div class="radio"><%= f.radio_button :runner_goal, "2" %> <%= f.label :runner_goal, "I am not participating." %></div>
<hr>
  <div><%= f.submit "Sign up", class: "btn btn-primary" %></div>
<% end %>

<%= render "devise/shared/links" %>
