<%= form_for @entry, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="alert alert-error">
    <% @entry.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
  <div class="control-group">
    <%= f.label :distance, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :distance, :class => 'text_field' %> <small>In kilometers</small>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :time, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :time, :class => 'number_field' %> <small>Number of minutes, as an integer. Rounded up to the nearest minute.</small>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <p><small>Any additional details you want to share. Some example questions to get you started:</small>
    <ul>
      <li><small>How was the run for you? How was the weather like? </small></li>
      <li><small>What did you have to do to make sure you ran today? </small></li>
      <li><small>What was the time-split for today's run? (Example: 10 minute for the first mile, 9 minute for the second). </small></li>
      <li><small>What was the run-walk ration that you followed for this run? (Example: 2 minute run folloed by 2 minute walk; repeated 5 times). </small></li>
      <li><small>What new thing did you try during today's run?</small></li>
    </ul>
  </p>
  <div class="control-group">
    <%= f.label :description, "Additional Details", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Share", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      entries_path, :class => 'btn' %>
    </div>
  <% end %>
