<%- model_class = Entry -%>
<div class="page-header">
  <h3>Run a 5K with fellow rubyists at RubyConfIndia 2013</h3>
  <p><%= link_to "Sign up", new_user_registration_path %> for the Ruby 5K run which is happening on the second day of RubyConfIndia 2013 on Sunday June, 23. Train for the event in the <b style="color:red"><%= @days_left %> days / <%= @days_left/7 %> weeks</b> till the 5K run.</p><p><b> Use this website to track your training runs.</b> </p><p>Get encouraged by fellow rubyist-runners. Encourage fellow rubyist-runners in their training.</p><p> Get fit. Encourage and support others in getting fit.</p>
  <br>
  <h4>Recent Training Runs</h4>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
  new_entry_path,
  :class => 'btn btn-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Distance <small>(in kilometers)</small></th>
      <th>Time <small>(in number of minutes)</th>
      <th><%= model_class.human_attribute_name(:location) %></th>
      <th>Additional Details</th>
      <th>Posted</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr class="row-<%= entry.description.downcase.split.join('_') %>">
        <td><%= gravatar_for(entry.user) %></td>
        <td><%= link_to entry.distance, entry_path(entry) %></td>
        <td><%= link_to entry.time, entry_path(entry) %></td>
        <td><%= link_to entry.location, entry_path(entry) %></td>
        <td><%= link_to truncate(entry.description, :length => 75, :separator => ' ', :omission => '... (more)'), entry_path(entry) %></td>
        <td><%= link_to humanize(Time.now - entry.created_at), entry_path(entry) %></td>
        <td>
          <% if user_signed_in? %>
            <% if current_user_is_creator_of_entry?(entry) %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_entry_path(entry), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                entry_path(entry),
                :method => :delete,
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-mini btn-danger' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
  new_entry_path,
  :class => 'btn btn-primary' %>
