<%- model_class = Entry -%>
<div class="page-header">
  <h3>Run a 5K with fellow Rubyists at RubyConfIndia 2013</h3>
  <p><%= link_to "Sign up", new_user_registration_path %> for the Ruby 5K run which is happening on the second day of RubyConfIndia 2013 on Sunday June, 23. Train for the event in the <b style="color:red"><%= @days_left %> days / <%= @days_left/7 %> weeks</b> till the 5K run.</p><p><b> Use this website to track your training runs.</b> </p><p>Get encouraged by fellow rubyist-runners. Encourage fellow rubyist-runners in their training.</p><p> Get fit. Encourage and support others in getting fit.</p>
  <p id="prizes"></p>
  <br>
  <h3 href="#">Prizes</h3>
  <p><%= link_to "pragprog.com - The Pragmatic Bookshelf", "http://pragprog.com" %> has graciously agreed to giveaway 5 eBooks to the participants of the 5K run.</p> 
  <p>The winners get to choose from any of the <%= link_to "Pragmatic Bookshelf titles", "http://pragprog.com/titles" %> other than <%= link_to "The Pragmatic Programmer", "http://pragprog.com/book/tpp/the-pragmatic-programmer" %> which is an Addison-Wesley title that pragprog.com distributes.</p>
  <br>
  <p><%= link_to "Atul Veer", "http://www.ruby5k.in/runners/30" %> wins the first of these eBook giveaways for having the most number of <%= link_to "training entries on ruby5k.in", "http://www.ruby5k.in/entries" %> (total of 6 - which is the most by anyone as of May 25, 2013 - excluding the organizers Prakash & Anil)</p>
  <p>The winners for the remaining 4 eBook giveaways will be randomly selected from those with training entries on <%= link_to "ruby5k.in", "http://www.ruby5k.in/entries" %> on June 22nd, 2013 - the first day of RubyConfIndia 2013. </p><p><b>IMPORTANT: ONLY THOSE WHO POST TRAINING ENTRIES ARE ELIGIBLE TO WIN!</b></p>
  <h4>Recent Training Runs</h4>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
  new_entry_path,
  :class => 'btn btn-primary' %>
  <%= render "table", :entries => @entries %>
