<p id="notice"><%= notice %></p>

<p>
  <b>Distance:</b>
  <%= @entry.distance %>
</p>

<p>
  <b>Time:</b>
  <%= @entry.time %>
</p>

<p>
  <b>Location:</b>
  <%= @entry.location %>
</p>

<p>
  <b>Description:</b>
  <%= @entry.description %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
