<div class="page-header">
    <td><%= gravatar_for(@user) %></td>
    <h4><%= @user.name %>'s profile on Ruby5K.in</h4>
</div>

<dl class="dl-horizontal">
  <% if user_signed_in? %>
    <dt><strong>Email :</strong></dt>
    <dd><%= @user.email %></dd>
  <% end %>
  <dt><strong>Running in Pune? :</strong></dt>
  <dd><%= @user.running_in_pune? ? "Yes" : "No"  %></dd>
  <dt><strong>My level as a runner :</strong></dt>
  <dd>
  <% if @user.runner_level == "0" %>
    I never ran in my life before!
  <% elsif @user.runner_level == "1" %>
    I run infrequently ( 0-1 times per week )
  <% elsif @user.runner_level == "2" %>
    I run very regularly ( 2 or more times per week )
  <% elsif @user.runner_level == "3" %>
    I am a professional runner!
  <% else %>
    Runner level not set
  <% end %>
  </dd>
  <dt><strong>My goal at Ruby 5K :</strong></dt>
  <dd>
  <% if @user.runner_goal == "0" %>
    I will run my first 5K race!
  <% elsif @user.runner_goal == "1" %>
    I will set a new PR(Personal Record) for a 5K race!
  <% elsif @user.runner_goal == "2" %>
    I am not participating.
  <% else %>
    Runner goal not set
  <% end %>
  </dd>
</dl>
<br>
  <% if user_signed_in? && current_user == @user %>
    <%= link_to "Edit Profile",
      edit_user_path(@user),
      :class => 'btn btn-primary' %>
    <%= link_to "Change password",
      edit_user_registration_path,
      :class => 'btn btn-primary' %>
  <% end %>

<br><br><br>
<% training_entries = @user.entries.includes(:user) %>
<% if training_entries.any? %>
  <h4>Training runs posted by <%= @user.name %></h4>
  <%= render :partial => "entries/table", :locals => { :entries => training_entries } %>
<% else %>
  <b><%= @user.name %> has not posted any training runs on <%= link_to "ruby5k.in", root_path %></b><br><br>
<%= link_to t('.new', :default => t("helpers.links.new")),
  new_entry_path,
  :class => 'btn btn-primary' %>
<% end %>
