<%- model_class = Entry -%>
<div class="page-header">
    <td><%= gravatar_for(@user) %></td>
    <h4>User Profile for <%= @user.email %></h4>
</div>

<dl class="dl-horizontal">
  <dt><strong>Email</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong>Created At</strong></dt>
  <dd><%= @user.created_at.strftime( "%Y-%m-%d %H:%M:S %z" ) %></dd>
  <dt><strong>Admin User?</strong></dt>
  <dd><%= @user.admin? ? "Yes" : "No"  %></dd>
  <dt><strong>Running in Pune?</strong></dt>
  <dd><%= @user.running_in_pune? ? "Yes" : "No"  %></dd>
  <dt><strong>Runner Level</strong></dt>
  <dd><%= @user.runner_level %></dd>
  <dt><strong>Runner Goal</strong></dt>
  <dd><%= @user.runner_goal %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
    admin_users_path, :class => 'btn'  %>
  <%= link_to "Edit User", edit_admin_user_path( @user ), :class => 'btn' %>
  <%= link_to "Delete User", admin_user_path( @user ), :method => :delete,
    :confirm => "Are you sure you want to delete this user?", :class => 'btn' %>
</div>
